@model CommercialAutomationProject.Models.Entities.SaleMovement
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Satış İşlemini Güncelle</h2>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.SaleId);
    <div class="form-group">
        @Html.LabelFor(x => x.Product)
        @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.product, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Cari");
        @Html.DropDownListFor(x => x.CurrentAccountId, (List<SelectListItem>)ViewBag.current, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Employee)
        @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.employee, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Number)
        @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.TotalAmount)
        @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Date)
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    </div>
}


