@using CommercialAutomationProject.Models.Entities
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman   </th>
        <th>Güncelle</th>
        <th>Satışlar</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId  </td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname  </td>
            <td>@item.EmployeeImage</td>
            <td>@item.Department.DepartmentName  </td>
            <td>
                <a href="/Department/Update/@item.EmployeeId" class="btn btn-warning">Güncelle</a>
            </td>
            <td>
                <a href="/Department/DepartmentSaleEmployee/@item.EmployeeId" class="btn btn-success">Detay</a>
            </td>
        </tr>
    }


</table>
<a href="/Department/Add" class="btn btn-primary">Personel Ekle</a>



