@using CommercialAutomationProject.Models.Entities
@model List<Employee>
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.department</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
    </tr>
    @foreach (var item in Model)
    {  
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td>@item.EmployeeImage</td>
            <td><a href="/Department/DepartmentSaleEmployee/@item.EmployeeId" class="btn btn-default" style="background-color:orangered">Satışlar</a>></td>
        </tr>
    }
</table>