@using CommercialAutomationProject.Models.Entities
@model List<SaleMovement>
@{
    ViewBag.Title = "CustomerSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.current</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır  </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.SaleId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Employee.EmployeeName  @item.Employee.EmployeeSurname</td>
            <td>@item.Price</td>
            <td>@item.TotalAmount</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>
        }

    </tr>
</table>